<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="/static/css/ui/jquery-ui-1.8.17.custom.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/dmsDevGame.css" />
		<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery-ui-1.8.17.custom.min.js"></script>
		<script type="text/javascript" src="/static/js/dmsError.js"></script>
		<script type="text/javascript" src="/static/js/dmsDevGame.js"></script>
		<title>DMS Dev</title>
	</head>
	<body>
        <button id=back>Back</button>
        <table>
			<tr>
				<th>App name:</th>
				<td>{{appname}}</td>
				<td><button id=appedit>Edit</button></td>
			</tr>
		</table>
        <table id=tbl>
            <caption>Games</caption>
            <tr>
                <th><button id=add>Add</button></th>
                <th>Name</th>
                <th>GameID</th>
                <th>Order</th>
                <th>AppID</th>
                <th>Del</th>
            </tr>
        </table>
	</body>
	<script type="text/javascript">
	    _appid = {{appid}}
	</script>
</html>

