<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="/static/css/ui/jquery-ui-1.8.17.custom.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/dmsDevMainMenu.css" />
		<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery-ui-1.8.17.custom.min.js"></script>
		<script type="text/javascript" src="/static/js/dmsError.js"></script>
		<script type="text/javascript" src="/static/js/dmsDevMainMenu.js"></script>
		<title>DMS Dev</title>
	</head>
	<body>
		<h1>Developer main menu</h1>
		<div>welcome {{email}}</div>
		<button id=logout>Logout</button><button id=secretkey>Secret key</button><br/><br/>
		<ul>
            <li><a id=game href=#>Games</a></li>
            <li><a id=match href=#>Matches</a></li>
		</ul>
	</body>
</html>

