<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="/static/css/ui/jquery-ui-1.8.17.custom.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/dmsDevLogin.css" />
		<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery-ui-1.8.17.custom.min.js"></script>
		<script type="text/javascript" src="/static/js/dmsError.js"></script>
		<script type="text/javascript" src="/static/js/dmsDevLogin.js"></script>
		<title>DMS Dev</title>
	</head>
	<body>
		<table>
		<caption>Developer Login</caption>
			<tr>
				<th>Email:</th>
				<td><input id=email type=text /></td>
			</tr>
			<tr>
				<th>Password:</th>
				<td><input id=pw type=password /></td>
			</tr>
		</table>
		<div>
			<button id=login>Login</button>
			<button id=register>Register</button>
		</div>
	</body>
</html>

