<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.1/build/cssreset/cssreset-min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/ui/jquery-ui-1.8.17.custom.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/dmsDevMatch.css" />
		<script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery-ui-1.8.17.custom.min.js"></script>
		<script type="text/javascript" src="/static/js/dmsError.js"></script>
		<script type="text/javascript" src="/static/js/dmsDevMatch.js"></script>
		<title>DMS Dev</title>
	</head>
	<body>
		<h1>Matches</h1>
        <button id=back>Back</button>
        <div>
            <button id=prev> < </button>
            <span id=page>1</span>
            <button id=next> > </button>
        </div>
        <table id=tbl>
            <caption>Matches</caption>
            <tr>
                <th><button id=add>Add</button></th>
                <th>Name</th>
                <th>Game</th>
                <th>Date</th>
            </tr>
        </table>
	</body>
</html>

